<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTDConfig 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引入外部配置文件 -->
    <properties resource="jdbc.properties"></properties>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="true"></setting>
    </settings>
    <!-- <settings>
         <setting name="autoMappingBehavior" value="NONE"/>
     </settings>-->
    <typeAliases>
        <package name="com.my.mybatis.entity"></package>
        <!--<typeAlias alias="Product" type="cn.itsource.domain.Product"/>-->
    </typeAliases>



    <typeHandlers>
        <!--自定义的类型转换器 javatype to jdbc  时用 -->
        <typeHandler handler="com.my.mybatis.util.customTypeHandlerUtil" javaType="Boolean" jdbcType="NUMERIC"/>
    </typeHandlers>
    <objectFactory type="com.my.mybatis.util.CustomObjectFactory"></objectFactory>
    <plugins>
        <plugin interceptor="com.my.mybatis.util.CustomPlunin"></plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- mybatis提供了3种数据源类型，分别是：POOLED,UNPOOLED,JNDI -->
            <!-- POOLED 表示支持JDBC数据源连接池 -->
            <!-- UNPOOLED 表示不支持数据源连接池 -->
            <!-- JNDI 表示支持外部数据源连接池 -->
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        <environment id="ok">
            <transactionManager type="JDBC"/>
            <!-- mybatis提供了3种数据源类型，分别是：POOLED,UNPOOLED,JNDI -->
            <!-- POOLED 表示支持JDBC数据源连接池 -->
            <!-- UNPOOLED 表示不支持数据源连接池 -->
            <!-- JNDI 表示支持外部数据源连接池 -->
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 注册mapper xml文件   在mybatis-config.xml中用mappers节点使主配置关联到小配置-->
        <mapper resource="AaaaaaMapper.xml"/>

        <!--<mapper class="com.my.mybatis.dao.AaaaaaMapper1"/>-->
        <!--此种方式要有xml加载 在pom里面配置的-->
        <package name="com.my.mybatis.dao"/>

    </mappers>

</configuration>